@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

::selection {
  background: white;
  color: black;
}

.blue-test {
  @apply border-blue-600 border-2;
}

.red-test {
  @apply border-red-600 border-2;
}

.menu-item {
  @apply hover:text-white underline-offset-4;
}
